* {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	user-select: none;
}

body {
	margin: 0;
	min-width: 320px;
	overflow: auto;
	margin-bottom: 50px;
}

select {
	font-weight: bold;
}

.conteneurDashboard {
	width: 100%;
	height: 97vh;
	border-radius: 5px;
}


.viz-choice, .viz-choice #chosen {	
	font-size: calc(16px + 1.5vw);
	text-align: center;
	background: #fff0;
	border-width: 2px;
	width: 100%;
	border-radius: 15px;
	border-style: outset;
	border-color: #fff;
	background-color: #9d9d9da8;
	color: white;
}

.last-update::before {
	content: 'Dernière mise à jour';
	font-weight: bolder;
}

.last-update {
	color: #62c376;
	width: fit-content;
	margin-left: 5px;
	max-width: 100px;
	display: block;
	font-size: 10px;
}

.filter-wrapper * {	
	cursor: pointer;
}

..viz-choice:hover {
	filter: brightness(1.1);
}

.night .filter-wrapper { filter: invert(1);}
.filter-wrapper {
	display: flex;
	z-index: 9999;
	text-align: center;
	font-weight: bold;
	width: 100%;
	position: sticky;
	top: 0;
	border-style: hidden;
	background: inherit;
}

.refresh {
	padding: 10px;
	border-radius: 2000px;
	border-style: outset;
	border-width: 1px;
	min-height: 30px;
	min-width: 30px;
	width: auto;
	background: url('/assets/images/refresh.png') center center no-repeat;
	background-size: 50%;
	background-color: #6ee886e0;
}
.refresh:hover {
	background-color: #00ff32e0;
}
.refresh:active {
  border-style: inset;
}


.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100000;
  transform: translate(-50%, -50%);
  width: 50px;
}

.grid-container {

	--grid-layout-gap: 25px;
	--grid-column-count: 2;
	--grid-item--min-width: 360px;

	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
	grid-gap: var(--grid-layout-gap);
	height: auto;

}

.labels-container {

	--grid-layout-gap: 5px;
	--grid-column-count: 5;
	--grid-item--min-width: 100px;

	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
	grid-gap: var(--grid-layout-gap);

	width: 100%;
	margin-bottom: 25px;

}


.viz {
	padding: 5px;
	border-width: 0.1px;
	max-height: 100%; 
}

/*min width on big screen*/
@media (min-width:500px)  {
	.viz {
		min-height: 680px;
	} 
}


.chart {
	padding-bottom: 30px;
	height: 520px;
}

/*min width on big screen*/
@media (min-width:500px)  {
	.shrinked-chart {
		height: 40vh !important;
	}
}

.chart-element {

	width: 100%;
	height: 100%;
	display: block;
}

.affluence {
	height: 76% !important;
}

.viz-gauge {
	padding-top: 70px;
	padding-bottom: 20px;
	width: 100%;
	height: 200px;
	display: block;
}

.viz-label {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	overflow-wrap: break-word;
	margin-bottom: 12px;
}

.viz-title {
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	font-weight: bold;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.viz-title > span {	
  cursor: pointer;
}

.viz-text {
  font-size: calc(12px + 1.2vw);
  font-weight: bold;
  cursor: pointer;
}

.fit-text {
	font-size: min(15px,calc(12px + 1.2vw));
}

.viz-title > span:hover, .viz-text:hover {
  color: #769ab9;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.themeViz { /*COLOR OF GRAPHS AND TEXT*/
  color: #586784 !important;
}

.theme { /*COLOR OF TITLES*/
  background-color: #3d52577d;
  color: white;
}

.night .theme, .night .themeViz, .night canvas{
	filter: invert(1);
}

body.nightmode {
	background: #182c33;
}

.current_tooltip{
	display: none;
	z-index: 5;
	position: fixed;
	border-radius: 5px;
	padding: 20px;
	bottom: 0;
	background-color: #ffffffe8;
	height: fit-content;
	box-shadow: 0 0 10px #4a4a4a80;
	max-width: 65%;
	color: #646464;
	overflow-wrap: break-word;
}

#current_page {	
  display: none;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  background: #ffffff36;

}

.single-line {
	white-space: nowrap;
}

.jqcloud {
  color: #586784 !important;
  overflow: hidden;
}

.jqcloud > span:hover, .jqcloud > span:active{
	background-color: #8e8e8e38;
	cursor: pointer;
}


/*big screen*/
@media (min-width:500px) {
	div.jqcloud span.w10 { font-size: 400%; }
	div.jqcloud span.w9 { font-size: 350%; }
	div.jqcloud span.w8 { font-size: 300%; }
	div.jqcloud span.w7 { font-size: 250%; }
	div.jqcloud span.w6 { font-size: 200%; }
	div.jqcloud span.w5 { font-size: 150%; }
	div.jqcloud span.w4 { font-size: 100%; }
	div.jqcloud span.w3 { font-size: 75%; }
	div.jqcloud span.w2 { font-size: 60%; }
	div.jqcloud span.w1 { font-size: 50%; }
}

/*small screen*/
@media (max-width:500px) {

div.jqcloud span.w10 { font-size: 10vw; }
div.jqcloud span.w9 { font-size: 9vw; }
div.jqcloud span.w8 { font-size: 8vw; }
div.jqcloud span.w7 { font-size: 7vw; }
div.jqcloud span.w6 { font-size: 6vw; }
div.jqcloud span.w5 { font-size: 5vw; }
div.jqcloud span.w4 { font-size: 4vw; }
div.jqcloud span.w3 { font-size: 3vw; }
div.jqcloud span.w2 { font-size: 2vw; }
div.jqcloud span.w1 { font-size: 1vw; }

}