* {
	font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	user-select: none;
}

body {
	margin: 0;
	min-width: 320px;
	overflow: auto;
}

select {
	font-weight: bold;
}

.conteneurDashboard {
	width: 100%;
	height: 97vh;
	border-radius: 5px;
}

.grid-container {

	--grid-layout-gap: 25px;
	--grid-column-count: 2;
	--grid-item--min-width: 360px;

	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
	grid-gap: var(--grid-layout-gap);
	height: auto;

}

.labels-container {

	--grid-layout-gap: 5px;
	--grid-column-count: 6;
	--grid-item--min-width: 100px;

	--gap-count: calc(var(--grid-column-count) - 1);
	--total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
	--grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
	grid-gap: var(--grid-layout-gap);

	width: 100%;
	padding-bottom: 5px;

}


.viz {
	padding: 5px;
	/*border-style: solid;*/
	border-width: 0.1px;
	/*min-height: 680px;*/
	max-height: 100%; 
}

/*min width on big screen*/
@media (min-width:500px)  { .viz {min-height: 680px;} /* smartphones, iPhone, portrait 480x320 phones */ }


.chart {
	padding-bottom: 30px;
	height: 520px;
}

.chart-element {

	width: 100%;
	height: 100%;
	display: block;

}

.affluence {
	height: 76% !important;
}

.viz-gauge {
	padding-top: 45px;
	width: 100%;
	height: 200px;
	display: block;
}

.viz-label {
  text-align: left;
  grid-auto-rows: 1fr;
  display: grid;
}

.viz-title {
  border-radius: 5px;
  padding: 5px 0 5px 5px;
  font-weight: bold;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.viz-title > span {	
  cursor: pointer;
}

.viz-text {
  font-size: calc(12px + 1.2vw);
  font-weight: bold;
  width: min-content;
  cursor: pointer;
  padding-bottom: 30px;
}

.viz-title > span:hover, .viz-text:hover {
  color: #769ab9;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.themeViz { /*COLOR OF GRAPHS AND TEXT*/
  color: #586784;
}

.theme { /*COLOR OF TITLES*/
  background-color: #3d52577d;
  color: white;
}

.night .theme, .night .themeViz, .night canvas{
	filter: invert(1);
}

body.nightmode {
	background: #182c33;
}

.current_tooltip{
	display: none;
	z-index: 5;
	position: fixed;
	border-radius: 5px;
	padding: 20px;
	bottom: 0;
	background-color: #ffffffe8;
	height: fit-content;
	box-shadow: 0 0 10px #4a4a4a80;
	max-width: 55%;
	color: #646464;
}

#current_page {	
  display: none;
  position: fixed;
  height: 50px;
  width: 100%;
  bottom: 0;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  background: #ffffff36;

}