<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8">
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo-128x125.png" type="image/x-icon">
  <meta name="description" content="{{ page.description }}">
  <meta name="author" content="{{ page.author }}">
  <meta name="layout" content="{{ page.layout }}" >
  <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400i,500i,600i,700i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400i,500i,600i,700i&display=swap"></noscript>
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <link rel="stylesheet" href="/assets/default/default.css" type="text/css">
  <link rel="stylesheet" href="/assets/theme/css/dracula.css"></script>
  
  <title> {{ page.title }} </title>
</head>

<body id="body_default">
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HJ4RVH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    
    <h1 id="title-page" class="title mbr-section-title align-center mb-4 mbr-fonts-style display-2" id="title-section"><strong>{{ page.title }}</strong></h1>
    <section data-bs-version="5.1" class="content4 .mbr-section--full-height" id="page-content">
      <div>
        {{ content }}
      </div>
    </section>




      <div class="backwrap">
        <div id="like" class="like-section" style="display: none;">Vous avez aimez ce contenu ? Faites le savoir
          <a title="Aimer" class="likewrap"><img class="social-button" alt="like button" src="/assets/images/like.png" id="like-button"></a>
          <a title="Partager" class="likewrap"><img class="social-button" alt="share button" src="/assets/images/share.png" id="share-button"></a>
        </div>

        <a class="back btn btn-black display-4" href="./">Retourner à la liste de projets</a>
      </div>


      <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script><script src="/assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script>  <script src="/assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script>  <script src="/assets/smoothscroll/smooth-scroll.js"></script>  <script src="/assets/ytplayer/index.js"></script>  <script src="/assets/dropdown/js/navbar-dropdown.js"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
      <script type="text/javascript" src="/assets/js/common-elements.js"></script>
      <script type="text/javascript" src="/DATAVIZ/common.js"></script>
      <script>hljs.highlightAll();document.querySelector('.back').style.display = window.location.href.includes('/projets-automatisations/') ? 'initial' : 'none'</script>



</body>
</html>