body{
	font-size: 1.2rem;
}
center {
	text-align: center;
}
section {
	padding: 0 20vw;
}
a:hover {
	filter: brightness(0.8);
}
h2 {
	padding-top: 50px;
	font-size: 3rem;
	font-weight: bold;
	color: #1a4b53;
}
.night h2,.night h3, .night #title-page {
	filter: invert(1)
}
h3 {
	font-size: 2rem;
}
.top{
	margin-top: 150px;
}
.night#body_default{
	background: #0c0c0c;
}
.night #title-page{
	color: white;
}
#title-page {
	text-transform: uppercase;
	padding-top: 25vh;
	text-align: center;
	color: black;
}
#page-content {
	padding-top: 1rem;
}